<div class="flex justify-center px-4 py-3 bg-gray-700 rounded-lg shadow-md">
  <div class="flex space-x-6">
    <!-- GitHub -->
    <a href="https://github.com/maxpoblete2905" target="_blank" class="group p-2 transition-all duration-200">
      <div class="w-8 h-8 bg-gray-600 p-1.5 rounded-full flex items-center justify-center 
                group-hover:bg-gray-500 group-hover:text-blue-400">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/portfolio-549f8.appspot.com/o/portfolio%2Fgithub.png?alt=media&token=d64c46a0-e694-466c-8adb-24df0abe4f2c"
          alt="GitHub" class="w-full h-full object-contain group-hover:scale-110 transition-transform">
      </div>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/max-esteban-poblete-pizarro-9979811bb/" target="_blank"
      class="group p-2 transition-all duration-200">
      <div class="w-8 h-8 bg-gray-600 p-1.5 rounded-full flex items-center justify-center 
                group-hover:bg-gray-500 group-hover:text-blue-400">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/portfolio-549f8.appspot.com/o/portfolio%2Flinkedin.png?alt=media&token=e7220f70-edfa-4b1c-855d-5c68c95dd0d0"
          alt="LinkedIn" class="w-full h-full object-contain group-hover:scale-110 transition-transform">
      </div>
    </a>
  </div>
</div>